body 
{
    
    margin: 0;
    padding: 0;
}
header 
{
    padding: 15px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}

button.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
}

button.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button.close-btn {
    background-color: #008CBA;
    color: white;
    border: none;
}

button.rename-btn {
    background-color: #FF9800;
    color: white;
    border: none;
}

button.back-btn {
    background-color: #555555;
    color: white;
    border: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    width: 48%;
}

