html, body {
    min-height: 100%;
    background: url("scr1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.preview 
{
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    
    width: 60%;
    padding: 7px;
    margin: 15px auto;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
}
.preview h1
{
    font-size: 30px;
    font-weight: bold;
}

#content div 
{
    top: 120px;
    z-index: 1;
    position: relative;
    pointer-events: none;
    
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    width: 35%;
}

#content h1, #content h2, #content p {
    color: white;
    border-radius: 5px;
    background-color: rgba(43, 39, 44, 0.7);
    /*background-color: transparent;*/
    backdrop-filter: blur(15px);
    
    z-index: 1;
    position: relative;
    pointer-events: auto;
    width: 120%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

*
{
    margin: 20px;
    padding: 0;
}
#load {
    z-index: 1;
    top: 110px;
    position:relative;
    pointer-events: none;
    display: none;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    border: 3px solid white;
    border-top: 3px solid #252222;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}